# ================================
# PYXIE — dependências principais
# ================================

# API
fastapi
uvicorn
pydantic
groq
python-dotenv

# HTTP
requests

# Tradução
deep-translator

# Controle de sistema (Windows/Linux desktop)
keyboard
screen-brightness-control